@charset "UTF-8";
// div width & height
@mixin box($w, $h, $bg) {
    width: $w;
    height: $h;
    background-color: $bg;
    margin: 0 auto;
    @include box-sizing;
}

// image scale with box
@mixin img-scale {
    >img {
        @include box(100%, auto, null);
        display: block;
    }
}

// circle
@mixin circle($unit) {
    width: $unit;
    height: $unit;
    border-radius: 100%;
}

// viaticle middle
@mixin vm {
    display: flex;
    align-items: center;
    justify-content: center;
}

// clear float
%clear {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// mid
@mixin allcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}


@mixin text-pretty {
    text-align: justify;
    text-justify: inter-ideograph;
    word-wrap: break-word;
    word-break: break-all;
}

//absl
@mixin absl($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//blur
@mixin blur($unit) {
    -webkit-filter: blur($unit);
    -moz-filter: blur($unit);
    -ms-filter: blur($unit);
    filter: blur($unit);
}

@mixin btn($btnw, $btnh) {
    @include box($btnw, $btnh, null);
    display: block;
    position: relative;
    cursor: pointer;
    .shape {
        stroke-dasharray: 0 500;
        stroke-dashoffset: 20;
        stroke-width: 3px;
        fill: transparent;
        stroke: white;
        transition: stroke-width 2.7s, stroke-dashoffset 2.7s, stroke-dasharray 1.3s;
        transition-delay: 0s;
    }
    .shape_border {
        stroke-width: 3px;
        stroke-dasharray: 100 8;
        stroke-dashoffset: 20;
    }
    span {
        @include allcenter;
    }
    &:hover {
        svg {
            .shape {
                stroke-dasharray: 0 500;
            }
        }
    }
}

//btn
%btnStyle {
    display: block;
    @include box(189px, 35px, null);
    position: relative;
    svg {
        @include scale(1.4);
    }
    .shape {
        stroke-dasharray: 0 500;
        stroke-dashoffset: 20;
        stroke-width: 3px;
        fill: transparent;
        stroke: white;
        transition: stroke-width 2.7s, stroke-dashoffset 2.7s, stroke-dasharray 1.3s;
        transition-delay: 0s;
    }
    .shape_border {
        stroke-width: 3px;
        stroke-dasharray: 150 8;
        stroke-dashoffset: 20;
    }
    span {
        @include font-style($size, $weight, $lineheight, $fontcolor, $letterspace);
        @include allcenter;
    }
}

//brightness
@mixin brightness($unit) {
    filter: brightness($unit);
    -webkit-filter: brightness($unit);
    -moz-filter: brightness($unit);
    -ms-filter: brightness($unit);
    -o-filter: brightness($unit);
}
//gray
@mixin grayscale($unit){
    filter:grayscale($unit);
    -webkit-filter:grayscale($unit);
    -moz-filter:grayscale($unit);
    -ms-filter:grayscale($unit);
    -o-filter:grayscale($unit);
}
//transform all
@mixin simple-transform($scale: false, $rotate: false, $trans-x: false, $trans-y: false, $skew-x: false, $skew-y: false, $origin-x: false, $origin-y: false) {
  @include create-transform(false, $scale, $scale, false, false, false, $rotate, false, $trans-x, $trans-y, false, $skew-x, $skew-y, $origin-x, $origin-y, false, false);
}



