<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>新光三越 | 微笑新星爭霸戰</title>

        <!-- facebook share -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="新光三越 | 微笑新星爭霸戰" />
        <meta property="og:url" content="https://smileangel.skm.com.tw/" />
        <meta property="og:description" content="歡迎搭乘星際飛船！新光三越天使們正以微笑火熱開戰！8/7~20馬上投票應援喜愛的微笑天使，助他成為最耀眼的微笑新星！再抽iPad mini4！" />
        <meta property="og:image" content="https://smileangel.skm.com.tw/img/600x315.png" />

        <!-- favicon -->
        <link rel="icon" href="img/favicon.ico">

        <!-- css style -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/star.css">
        <script src="vendor/jquery-2.2.0.min.js"></script>
        <script src="vendor/isMobile.min.js"></script>
        <script src="vendor/ga.js"></script>
        <script src="vendor/vue.min.js"></script>
        <!--[if gt IE 9]><script src="vendor/html5shiv.js"></script><![endif]-->
    </head>

    <body style="min-width: auto;">
        <!-- loading -->
        <div class="loading">
            <div id="container">
                <div class="ball" id="ball_planet"></div>
                <div class="smallball" id="wrap1">
                    <div class="ball" id="ball1"></div>
                </div>
                <div class="smallball" id="wrap2">
                    <div class="ball" id="ball2"></div>
                </div>
                <div class="smallball" id="wrap3">
                    <div class="ball" id="ball3"></div>
                </div>
                <div class="smallball" id="wrap4">
                    <div class="ball" id="ball4"></div>
                </div>
            </div>
        </div>
        <!-- only fot ipad-->
        <div class="trans_bg">
            <div class="trans_ipad">
                <div class="trans_center"><img src="img/trans/ipad_ok.png">
                    <p>請將裝置轉至橫式
                        <br>體驗最佳瀏覽方式</p>
                </div>
            </div>
            <!-- only for iphone-->
            <div class="trans_iphone">
                <div class="trans_center"><img src="img/trans/iphone_ok.png">
                    <p>請將裝置轉至直式
                        <br>體驗最佳瀏覽方式</p>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <header class="opacity">
            <p><img src="asset/svg/logo.svg" alt=""></p>
            <div href="" class="menu">
                <a href=""></a>
            </div>
            <nav>
                <ul>
                    <li><a href="">活動首頁</a></li>
                    <li><a href="">活動辦法</a></li>
                    <li><a href="">立即投票</a></li>
                    <li><a href="">新星片花</a></li>
                    <li class="none"><a href="">得獎名單</a></li>
                    <li class="social"><a href=""><span class="icon-facebook"></span></a></li>
                    <li class="social"><a href=""><span class="icon-google"></span></a></li>
                </ul>
            </nav>
        </header>
        <div class="wrap opacity">
            <div class="main general tvc">
                <!-- 其他物件 -->
                <div class="fixed">
                    <div class="meteor">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="planet p_1">
                        <img src="asset/svg/planet/01.svg" alt="">
                    </div>
                    <div class="planet p_2">
                        <img src="asset/svg/planet/05.svg" alt="">
                    </div>
                    <div class="planet p_3">
                        <img src="asset/svg/planet/03.svg" alt="">
                    </div>
                    <div class="sha"></div>
                </div>
                <!-- 主要內容 -->
                <section>
                    <h1><img src="asset/svg/maintitle.svg" alt=""></h1>
                    <h2>帶您深入了解每一位微笑新星<br>熱情的、感動的，和您意想不到的每一段小故事！<br>歡迎點擊任一店別播放鈕<span></span>給他們最大的鼓勵！</h2>
                    <!--北部-->
                    <div class="group">
                        <p class="topic">北部</p>
                        <div class="tvcGroup">
                            <ul>
                                <li v-for="(data, $index) in posts" :key="$index" v-if="data.store_type == 'N'">
                                    <a href="" :data-href="data.url" @click.prevent="login($event)">
                                        <div class="video">
                                            <img src="img/tvc_200x150.jpg" alt="">
                                            <span><img src="asset/svg/play.svg" alt=""></span>
                                        </div>
                                        <div class="con">
                                            <p class="store">{{ data.store_nm }}</p>
                                            <p class="share" v-show="data.showFG"><span><img src="asset/svg/share.svg" alt=""></span>{{ data.count }} shares</p>
                                        </div>
                                    </a>
                                    <div class="fb"><span class="icon-facebook"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--中部-->
                    <div class="group">
                        <p class="topic">中部</p>
                        <div class="tvcGroup">
                            <ul>
                                <li v-for="(data, $index) in posts" :key="$index" v-if="data.store_type == 'C'">
                                    <a href="" :data-href="data.url" @click.prevent="login($event)">
                                        <div class="video">
                                            <img src="img/tvc_200x150.jpg" alt="">
                                            <span><img src="asset/svg/play.svg" alt=""></span>
                                        </div>
                                        <div class="con">
                                            <p class="store">{{ data.store_nm }}</p>
                                            <p class="share" v-show="data.showFG"><span><img src="asset/svg/share.svg" alt=""></span>{{ data.count }} shares</p>
                                        </div>
                                    </a>
                                    <div class="fb"><span class="icon-facebook"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--南部-->
                    <div class="group">
                        <p class="topic">南部</p>
                        <div class="tvcGroup">
                            <ul>
                                <li v-for="(data, $index) in posts" :key="$index" v-if="data.store_type == 'S'">
                                    <a href="" :data-href="data.url" @click.prevent="login($event)">
                                        <div class="video">
                                            <img :src="data.store_img" alt="">
                                            <span><img src="asset/svg/play.svg" alt=""></span>
                                        </div>
                                        <div class="con">
                                            <p class="store">{{ data.store_nm }}</p>
                                            <p class="share" v-show="data.showFG"><span><img src="asset/svg/share.svg" alt=""></span>{{ data.count }} shares</p>
                                        </div>
                                    </a>
                                    <div class="fb"><span class="icon-facebook"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--進度表-->
                <div class="progress" style="display: block;">
                    <ul>
                        <li><a href="">北部</a></li>
                        <li><a href="">中部</a></li>
                        <li><a href="">南部</a></li>
                    </ul>
                </div>
                <div class="bottom_sha" style="display: block;"></div>
            </div>
            <!--裝置警告-->
            <div class="warn none">
                <a href="" class="close"><span></span></a>
                <p>建議使用Safari或Chrome瀏覽網頁，<br>以利活動參與。</p>
            </div>
        </div>
        <script src="bundle/menu.js"></script>
        <script src="bundle/tvc.js"></script>
    </body>
</html>